.raceTrack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    border-bottom: 1px dotted #ccc;

    svg {
        height: 30px;
        width: 90px;
    }
}
