@import '../node_modules/bootstrap/scss/functions';

$body-bg: #222;
$body-color: #fff;
$border-radius: 1rem;
$primary: #ff0084;
$secondary: #00a6ff;
$success: #22d54c;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

:root {
    --bs-modal-zindex: 100;
    --bs-modal-width: auto;
    --bs-modal-padding: 0.5rem;
    --bs-modal-color: #eee;
    --bs-modal-bg: #222;
    --bs-modal-border-color: $primary;
    --bs-modal-border-width: 3px;
    --bs-modal-border-radius: 1rem;
    --bs-modal-inner-border-radius: 0.25rem;
    --bs-modal-header-padding: 0.25rem;
    --bs-modal-header-border-color: #fff;
    --bs-modal-header-border-width: 2px;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.form-control {
    width: auto;
}

body {
    padding: 1rem;
}
